BOT_TOKEN=8251004543:AAE4_6wG3lFQ5JiPvTxi9tsdQcnu715pRZA
# Supabase
SUPABASE_URL=postgresql://postgres.ucdvtuifhmxnygibykhl:Dima19tansibei92!@aws-1-us-east-2.pooler.supabase.com:6543/postgres?sslmode=require
# Для серверной части используйте SERVICE_ROLE_KEY (НЕ публикуйте его публично)
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjZHZ0dWlmaG14bnlnaWJ5a2hsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkwNzgwNiwiZXhwIjoyMDc1NDgzODA2fQ.asltBBHpByXvwZzTQyg_vpCTKstXP0YXpWQ7UGhPRQI